h1{
    color:red;
}
#heading-2{
    color:blue;
}
.heading{
    color:orange;
}
.para{
    border: 3px;
    border-color: green;
    border-style: solid;
    padding: 10px;
    background-color: lightgray;

}
.navbar{
    background-color: black;
    color: white;
    padding: 10px;
    background-color: red;
    text-align: center;
    border-color: green;
    border-style: solid;
}
.navbar a{
    color: white;
    padding: 10px;
    text-align: center;
}

.navbar a:hover{
    background-color: rgb(217, 181, 181);
    color: blue;
    text-decoration: none;

}
body{
    margin: 0;
}