body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar{
    background: linear-gradient(90deg, #ff4b2b, #ff416c);
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    font-weight: bold;
    transition: 0.3s;
    border-radius: 5px;
}

.navbar a:hover{
    background: white;
    color: #ff416c;
}

/* CARD */
.card{
    width: 300px;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* TEXT */
.card h2{
    margin: 10px 0;
    color: #333;
}

.card p{
    color: gray;
}

/* BUTTON */
button{
    background: #ff416c;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 15px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    background: #ff4b2b;
    transform: scale(1.05);
}